.red {
    background-color: #af0800; /* Red */
}
.green {
    background-color: #4CAF50; /* Green */
}

.blue {
    background-color: #0700af; /* blue */
}

.yellow {
    background-color: #ede507; /* yellow */
}
